@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", cursive;
  font-size: 22px;
  font-weight: 500;
}

.button {
  position: relative;
  font-size: 16px;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s; /* Safari */
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 9999px;
  left: 50%;
  top: 32%;
  width: 1px;
  height: 1px;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 5px 35px #00c4ff;
}

.button:active:after {
  box-shadow: 0 0 0 0 #00c4ff;
  position: absolute;
  border-radius: 9999px;
  left: 50%;
  top: 32%;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-shadow {
  text-shadow: 2px 2px 2px gray;
}

.svg-shadow {
  filter: drop-shadow(2px 2px 2px gray);
}

.non-hover-bold::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
